* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: #d9dcd6;
}

header {
  padding: 20px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  background-color: #2a607c;
  color: #ffffff;
}

h1 {
  display: inline-block;
  font-size: 48px;
}

.seo {
  color: #d9dcd6;
}
/* need to space nav bar items equally per mock-up. */
.header-div {
  padding-top: 15px;
  margin-right: 20px;
  float: right;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 20px;
}

li {
  display: inline;
  text-align: right;
  margin: 30px;
}

a {
  color: #ffffff;
  text-decoration: none;
}

p {
  font-size: 16px;
}

.hero {
  height: 800px;
  width: 100%;
  margin-bottom: 25px;
}

.hero img {
  width: 100%;
  height: 100%;
}

.float-left {
  float: left;
  margin-right: 25px;
}

.float-right {
  float: right;
  margin-left: 25px;
}

.content {
  width: 75%;
  display: inline-block;
  margin-left: 20px;
}

/* how do I stretch this box to match the mock up without minimizing the text? 
Height is doing nothing - should be omitted?*/
.side-box {
  margin-right: 20px;
  padding: 30px;
  float: right;
  width: 20%;
  height: 100%;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: #2589bd;
}

.side-spacing {
  margin-bottom: 32px;
  color: #ffffff;
}

.side-header {
  margin-bottom: 10px;
  text-align: center;
}

.side-image {
  display: block;
  margin: 10px auto;
  max-width: 150px;
}

.text-format {
  margin-bottom: 20px;
  padding: 50px;
  height: 300px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: #0072bb;
  color: #ffffff;
}

.images-1 {
  max-height: 200px;
}

.text-format h2 {
  margin-bottom: 20px;
  font-size: 36px;
}

/* Do I omit footer entirely per mock-up? */
.footer {
  padding: 30px;
  clear: both;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  text-align: center;
}

.footer h2 {
  font-size: 20px;
}
